/* this is css (I will use tailwind as well) */
body
{
	text-align: center;

}


/*TODO: make it responsive and implement SPA*/
#board
{
	/*display: none; /* canvas hidden initially */
	background-color: black;
	border-top: 7px solid lightgray;
	border-bottom: 7px solid lightgray;
}